Repository saif-shines/hacksmith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro}": ["prettier --write", "eslint --fix"],
  "*.{md,mdx}": ["prettier --write"],
  "*.json": ["prettier --write"]
}

feat: migrate from oclif to custom interactive CLI system
  packages/hacksmith/package.json
  packages/hacksmith/src/cli/interactive.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
  packages/hacksmith/src/types/command.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: support both interactive and non interactive modes
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
Due: prettier --write, eslint --fix

feat: implement slash command infrastructure
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/cli/context-factory.ts
  packages/hacksmith/src/cli/interactive.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
  packages/hacksmith/src/types/arguments.ts
Due: prettier --write, eslint --fix

chore: update hacksmith version to 0.0.3 in package.json
  packages/hacksmith/package.json
Due: prettier --write

feat: update example blueprint configuration for generic product onboarding
  packages/hacksmith/test/fixtures/example.blueprint.toml
Due: none

feat: add GitHub repository support for TOML blueprint selection
  CLAUDE.md
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/types/arguments.ts
  packages/hacksmith/src/utils/blueprint-fetcher.ts
  packages/hacksmith/src/utils/github-repo-service.ts
  packages/hacksmith/src/utils/github-url-utils.ts
Due: prettier --write, eslint --fix

refactor: enhance PlanCommand for improved input handling and maintainability
  CLAUDE.md
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/blueprint-service.ts
  packages/hacksmith/src/services/blueprint-sources/base-source.ts
  packages/hacksmith/src/services/blueprint-sources/file-source.ts
  packages/hacksmith/src/services/blueprint-sources/github-source.ts
  packages/hacksmith/src/services/blueprint-sources/http-source.ts
  packages/hacksmith/src/services/blueprint-sources/index.ts
  packages/hacksmith/src/services/index.ts
  packages/hacksmith/src/services/ui-service.ts
  packages/hacksmith/src/types/command-options.ts
Due: prettier --write, eslint --fix

feat: update the icon to hacksmith
  packages/hacksmith/src/cli/interactive.ts
Due: prettier --write, eslint --fix

chore: update hacksmith version to 0.0.4-0 in package.json
  packages/hacksmith/package.json
Due: prettier --write

feat: programmatic versioning
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
Due: prettier --write, eslint --fix

fix: the hint of slash commands
  packages/hacksmith/src/cli/interactive.ts
Due: prettier --write, eslint --fix

feat: implement blueprint flow execution with validation
  apps/website/src/content/docs/cli/blueprint.mdx
  packages/hacksmith/package.json
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/blueprint-service.ts
  packages/hacksmith/src/services/blueprint-validator.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/services/step-handlers.ts
  packages/hacksmith/src/types/arguments.ts
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/template-engine.ts
  packages/hacksmith/test/fixtures/example.blueprint.toml
  pnpm-lock.yaml
  spec/blueprint-schema.json
Due: prettier --write, eslint --fix

refactor: organize files for files
  REFACTORING_SUMMARY.md
  packages/hacksmith/src/services/blueprint-validator.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/services/step-types/ai-prompt-step.ts
  packages/hacksmith/src/services/step-types/base-step.ts
  packages/hacksmith/src/services/step-types/choice-step.ts
  packages/hacksmith/src/services/step-types/confirm-step.ts
  packages/hacksmith/src/services/step-types/index.ts
  packages/hacksmith/src/services/step-types/info-step.ts
  packages/hacksmith/src/services/step-types/input-step.ts
  packages/hacksmith/src/services/step-types/navigate-step.ts
  packages/hacksmith/src/services/step-types/registry.ts
  packages/hacksmith/src/services/step-types/show-commands-step.ts
  packages/hacksmith/test/fixtures/example.blueprint.toml
  packages/hacksmith/tsconfig.json
Due: prettier --write, eslint --fix

refactor: rename the file form fixtures to spec
  spec/example.blueprint.toml
Due: none

chore: update hacksmith version to 0.0.4-1 in package.json
  packages/hacksmith/package.json
Due: prettier --write

chore: add tsc-alias as a devDependency and update build script in hacksmith package.json
  packages/hacksmith/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update hacksmith version to 0.0.4-2 in package.json
  packages/hacksmith/package.json
Due: prettier --write

chore: fix np config
  packages/hacksmith/.np-config.json
Due: prettier --write

0.0.4-3
  packages/hacksmith/package.json
Due: prettier --write

chore: the example toml needs to be referencing right variable
  spec/example.blueprint.toml
Due: none

chore: improve the numbers for each instructions
  packages/hacksmith/src/services/step-types/navigate-step.ts
Due: prettier --write, eslint --fix

feat: make the title into ids
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/blueprint-fetcher.ts
  packages/hacksmith/src/utils/slugify.ts
  spec/blueprint-schema.json
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

chore: storing the env variables
  spec/example.blueprint.toml
Due: none

fix: the error lint
  packages/hacksmith/src/services/step-types/navigate-step.ts
  packages/hacksmith/src/utils/template-engine.ts
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

feat: link in teminals, markdown renderer, and devmode
  packages/hacksmith/package.json
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/services/step-types/base-step.ts
  packages/hacksmith/src/services/step-types/choice-step.ts
  packages/hacksmith/src/services/step-types/confirm-step.ts
  packages/hacksmith/src/services/step-types/info-step.ts
  packages/hacksmith/src/services/step-types/input-step.ts
  packages/hacksmith/src/services/step-types/navigate-step.ts
  packages/hacksmith/src/services/step-types/registry.ts
  packages/hacksmith/src/services/step-types/show-commands-step.ts
  packages/hacksmith/src/types/arguments.ts
  packages/hacksmith/src/utils/markdown-renderer.ts
  pnpm-lock.yaml
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

chore: update the np config manually
  packages/hacksmith/.np-config.json
  packages/hacksmith/package.json
Due: prettier --write

chore: update package
  packages/hacksmith/package.json
Due: prettier --write

chore: add the spec while publishing
  packages/hacksmith/package.json
  packages/hacksmith/src/services/blueprint-validator.ts
Due: prettier --write, eslint --fix

chore: update version
  packages/hacksmith/package.json
Due: prettier --write

chore: add the missing spec files
  packages/hacksmith/package.json
  packages/hacksmith/spec/blueprint-schema.json
Due: prettier --write

chore: the feature update
  packages/hacksmith/package.json
Due: prettier --write

ci: change the release process
  .github/workflows/release.yml
  README.md
  apps/website/src/content/docs/cli/installation.md
  apps/website/src/content/docs/cli/testing-releases.md
  package.json
  scripts/build-binaries.sh
  scripts/install.sh
  spec/example.blueprint.toml
Due: prettier --write

chore: add build binaries script and enhance installation instructions in README
  packages/hacksmith/package.json
Due: prettier --write

chore(release): configure np commit message to satisfy commitlint
  packages/hacksmith/package.json
Due: prettier --write

docs: claude instructions
  CLAUDE.md
Due: prettier --write

chore(release): bump to 0.0.7 and disable Husky during np
  packages/hacksmith/package.json
Due: prettier --write

chore: update np commit message format to comply with commitlint
  packages/hacksmith/package.json
Due: prettier --write

chore(release): bump version to 0.0.8 and update np commit message format
  packages/hacksmith/package.json
Due: prettier --write

feat: storage and persistence capaiblities
  packages/hacksmith/package.json
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/services/step-types/ai-prompt-step.ts
  packages/hacksmith/src/services/step-types/confirm-step.ts
  packages/hacksmith/src/services/step-types/info-step.ts
  packages/hacksmith/src/services/step-types/navigate-step.ts
  packages/hacksmith/src/services/step-types/show-commands-step.ts
  packages/hacksmith/src/utils/storage.ts
  pnpm-lock.yaml
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

refactor: quick wins - remove deprecated code, fix type safety, improve exports
  eslint.config.js
  packages/hacksmith/package.json
  packages/hacksmith/src/cli/context-factory.ts
  packages/hacksmith/src/cli/interactive.ts
  packages/hacksmith/src/services/blueprint-sources/github-source.ts
  packages/hacksmith/src/services/blueprint-sources/http-source.ts
  packages/hacksmith/src/services/index.ts
  packages/hacksmith/src/services/step-handlers.ts
  packages/hacksmith/src/types/command.ts
  packages/hacksmith/src/types/terminal-kit.d.ts
  packages/hacksmith/src/utils/blueprint-fetcher.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
  packages/hacksmith/src/utils/github-repo-service.ts
  packages/hacksmith/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix
