Repository saif-shines/hacksmith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,astro}": ["prettier --write", "eslint --fix"],
  "*.{md,mdx}": ["prettier --write"],
  "*.json": ["prettier --write"]
}

chore: improve the how storage saves values through the online links
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
  spec/blueprint-schema.json
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

fix: update blueprint schema descriptions for clarity and accuracy
  packages/hacksmith/spec/blueprint-schema.json
Due: prettier --write

chore(release): bump version to 0.0.9
  packages/hacksmith/package.json
Due: prettier --write

feat: blueprint in the schema and clude desc was updated
  CLAUDE.md
  packages/hacksmith/src/types/blueprint.ts
  spec/blueprint-schema.json
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

feat: preferences command addition
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/commands/preferences.ts
  packages/hacksmith/src/run.ts
  packages/hacksmith/src/types/preferences.ts
  packages/hacksmith/src/utils/ai-cli-detector.ts
  packages/hacksmith/src/utils/preferences-storage.ts
Due: prettier --write, eslint --fix

feat: prefs and techstack scans
  packages/hacksmith/package.json
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/commands/preferences.ts
  packages/hacksmith/src/types/preferences.ts
  packages/hacksmith/src/utils/preferences-storage.ts
  packages/hacksmith/src/utils/tech-stack-detector.ts
  pnpm-lock.yaml
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

feat: agent mode on
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/commands/preferences.ts
  packages/hacksmith/src/utils/ai-agent-invoker.ts
  packages/hacksmith/src/utils/mission-brief-generator.ts
Due: prettier --write, eslint --fix

feat: manual mode included
  packages/hacksmith/package.json
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/commands/preferences.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add AI agent configuration to blueprint schema
  packages/hacksmith/spec/blueprint-schema.json
Due: prettier --write

chore(release): bump version to 0.0.10 and enhance mission brief generation with blueprint variables
  packages/hacksmith/package.json
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/utils/mission-brief-generator.ts
Due: prettier --write, eslint --fix

chore: bump the version
  packages/hacksmith/package.json
Due: prettier --write

chore: update build script to include external packages for all platforms
  scripts/build-binaries.sh
Due: none

feat: the intro flow
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

refactor: the spec to capture input
  spec/example.blueprint.toml
Due: none

feat: resume flow
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/preferences-storage.ts
  spec/blueprint-schema.json
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

refactor: files and english
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/cli/context-factory.ts
  packages/hacksmith/src/cli/interactive.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/commands/preferences.ts
  packages/hacksmith/src/constants/files.ts
  packages/hacksmith/src/run.ts
  packages/hacksmith/src/services/blueprint-service.ts
  packages/hacksmith/src/services/blueprint-sources/base-source.ts
  packages/hacksmith/src/services/blueprint-sources/github-source.ts
  packages/hacksmith/src/services/step-types/choice-step.ts
  packages/hacksmith/src/services/step-types/confirm-step.ts
  packages/hacksmith/src/services/step-types/input-step.ts
  packages/hacksmith/src/types/preferences.ts
  packages/hacksmith/src/utils/ai-agent-invoker.ts
  packages/hacksmith/src/utils/blueprint-fetcher.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
  packages/hacksmith/src/utils/preferences-storage.ts
  packages/hacksmith/src/utils/storage.ts
  packages/hacksmith/src/utils/type-guards.ts
Due: prettier --write, eslint --fix

refactor: rename preview to overview
  packages/hacksmith/spec/blueprint-schema.json
Due: prettier --write

chore(release): bump version to 0.0.12
  packages/hacksmith/package.json
Due: prettier --write

chore: the revert husky
  packages/hacksmith/package.json
Due: prettier --write

chore: to fix the np publish
  packages/hacksmith/package.json
Due: prettier --write

chore: use monorepo-safe publish wrapper for np
  packages/hacksmith/package.json
  packages/hacksmith/scripts/publish.sh
Due: prettier --write

chore(release): bump version to v0.0.14
  packages/hacksmith/package.json
Due: prettier --write

feat(site): integrate Adelle Sans Light as primary font
  apps/website/astro.config.mjs
  apps/website/src/styles/custom.css
Due: none

style(site): bump base body weight to 400 for legibility
  apps/website/src/styles/custom.css
Due: none

style(site): demote headings one step for better hierarchy
  apps/website/src/styles/custom.css
Due: none

docs(site): embed Hacksmith in 60s video on Get Started
  apps/website/src/content/docs/get-started/index.md
Due: prettier --write

feat(site): enable Starlight site graph in obsidian theme
  apps/website/astro.config.mjs
Due: none

feat: add the hacksmith theme
  apps/website/astro.config.mjs
  apps/website/package-lock.json
  apps/website/package.json
  apps/website/public/sitegraph/sitemap.json
  apps/website/src/content.config.ts
  apps/website/src/content/config.ts
  apps/website/src/content/docs/get-started/index.mdx
  apps/website/src/content/docs/index.md
  apps/website/src/styles/custom.css
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: direct page instead of landing
  apps/website/astro.config.mjs
  apps/website/src/content/docs/index.mdx
Due: prettier --write

feat: revist the sidear and the content in the pages
  apps/website/src/content/docs/cli/architecture.md
  apps/website/src/content/docs/cli/blueprint.mdx
  apps/website/src/content/docs/cli/contribute.mdx
  apps/website/src/content/docs/cli/installation.md
  apps/website/src/content/docs/cli/testing-releases.md
Due: prettier --write

docs: add the hacksmith guide for the users
  apps/website/public/d2/docs/get-started/index-0.svg
  apps/website/src/content/docs/get-started/index.mdx
Due: prettier --write

docs: organize docs and the labels
  apps/website/astro.config.mjs
  apps/website/public/d2/docs/handbooks/architecture-0.svg
  apps/website/src/content/docs/cli/testing-releases.md
  apps/website/src/content/docs/get-started/index.mdx
  apps/website/src/content/docs/get-started/try-hacksmith.mdx
  apps/website/src/content/docs/handbooks/architecture.md
  apps/website/src/content/docs/handbooks/commands.mdx
  apps/website/src/content/docs/handbooks/contribute.mdx
  apps/website/src/content/docs/handbooks/installation.md
  apps/website/src/content/docs/handbooks/testing-releases.md
Due: prettier --write

docs: better ordering of the flow
  apps/website/public/d2/docs/get-started/index-0.svg
  apps/website/src/content/docs/get-started/index.mdx
Due: prettier --write

feat: add video the the home page of hacksmith docs
  apps/website/package.json
  apps/website/src/content/docs/get-started/index.mdx
  apps/website/src/content/docs/handbooks/architecture.md
  pnpm-lock.yaml
Due: prettier --write

feat: remove icon from the site titel
  apps/website/astro.config.mjs
Due: none

chore: improve the documentation website
  apps/website/src/content/docs/get-started/index.mdx
  apps/website/src/content/docs/handbooks/commands.mdx
Due: prettier --write

fix: eslint fix for error variable
  packages/hacksmith/package.json
  packages/hacksmith/src/cli/components/CommandPalette.tsx
  packages/hacksmith/src/cli/interactive.ts
  packages/hacksmith/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: add comprehensive guides for authoring Hacksmith blueprints
  apps/website/src/content/docs/get-started/author-blueprint.mdx
  apps/website/src/content/docs/get-started/blueprint-best-practices.mdx
Due: prettier --write

chore: remove obsolete SVG files and clean up documentation structure
  apps/website/public/d2/docs/cli/architecture-0.svg
  apps/website/public/d2/docs/get-started/index-0.svg
  apps/website/public/d2/docs/handbooks/architecture-0.svg
  apps/website/src/content/docs/get-started/blueprint-best-practices.mdx
Due: prettier --write
