Repository saif-shines/hacksmith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove changesets and CI release job
  .changeset/config.json
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add cli:publish using np
  package.json
  packages/hacksmith/package.json
Due: prettier --write

fix: remove the changesets
  packages/hacksmith/package.json
Due: prettier --write

chore: bump version to 0.0.2
  packages/hacksmith/package.json
Due: prettier --write

feat: update website configuration and add new content
  apps/website/astro.config.mjs
  apps/website/package-lock.json
  apps/website/package.json
  apps/website/src/content.config.ts
  apps/website/src/content/docs/index.md
  apps/website/src/pages/index.astro
Due: prettier --write, eslint --fix

fix: dependencies problems mismatch
  apps/website/package-lock.json
  pnpm-lock.yaml
Due: prettier --write

ci: add the modules via pnpm command on root
  apps/website/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: change the title messaging
  apps/website/astro.config.mjs
  apps/website/src/pages/index.astro
Due: prettier --write, eslint --fix

feat: auto gen directory
  apps/website/astro.config.mjs
  apps/website/src/content/docs/cli/architecture.md
  apps/website/src/content/docs/cli/usage.md
  netlify.toml
Due: prettier --write

feat: change the domain and d2 integration
  apps/website/astro.config.mjs
  apps/website/package.json
  apps/website/public/d2/docs/cli/architecture-0.svg
  apps/website/src/content/docs/cli/architecture.md
  pnpm-lock.yaml
Due: prettier --write

feat: update website domain and enhance d2 integration with new layout options
  apps/website/astro.config.mjs
  apps/website/public/d2/docs/cli/architecture-0.svg
  apps/website/src/content/docs/cli/architecture.md
Due: prettier --write

fix: update build command in netlify.toml to use site:build
  netlify.toml
Due: none

fix: correct build command in netlify.toml to ensure proper execution
  netlify.toml
Due: none

fix: update build command in netlify.toml to include PATH export for pnpm
  netlify.toml
Due: none

fix: pipeline
  .github/workflows/ci.yml
Due: none

fix: add sudo for permissions
  .github/workflows/ci.yml
Due: none

feat: add TOML file parsing
  packages/hacksmith/bin/hacksmith
  packages/hacksmith/package.json
  packages/hacksmith/src/cli.ts
  packages/hacksmith/src/playground/example.blueprint.toml
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: hide the blueprint
  apps/website/astro.config.mjs
  apps/website/package-lock.json
  apps/website/package.json
  apps/website/src/content.config.ts
  apps/website/src/content/docs/cli/architecture.md
  apps/website/src/content/docs/cli/blueprint.mdx
  apps/website/src/content/docs/cli/usage.md
  apps/website/src/content/docs/get-started.md
  apps/website/src/content/docs/index.md
Due: prettier --write, eslint --fix

chore: update add dependency instructions
  README.md
Due: prettier --write

feat: necessary packages for ux
  packages/hacksmith/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: first hello command
  packages/hacksmith/bin/hacksmith
  packages/hacksmith/package.json
  packages/hacksmith/src/commands/hello.ts
  packages/hacksmith/src/commands/init.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
  packages/hacksmith/test/hello.test.js
  packages/hacksmith/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add context to help with ai assisted development
  .cursorrules
  CLAUDE.md
Due: prettier --write

refactor: remove the unnecessary commands
  packages/hacksmith/src/cli.ts
  packages/hacksmith/src/commands/hello.ts
  packages/hacksmith/src/commands/plan.ts
Due: prettier --write, eslint --fix

fix: remove the init command at the moment
  packages/hacksmith/src/commands/init.ts
Due: prettier --write, eslint --fix

chore: remove the useless test
  packages/hacksmith/test/cli.test.js
Due: prettier --write, eslint --fix

chore: delete obsolete CLI test file
  packages/hacksmith/test/cli.test.js
Due: prettier --write, eslint --fix

chore: bump version to 0.0.3-0 in package.json
  packages/hacksmith/package.json
Due: prettier --write

feat: add 'plan' command to display current focus and optional blueprint
  packages/hacksmith/src/commands/plan.ts
Due: prettier --write, eslint --fix

refactor: bring expressions back
  eslint.config.js
  packages/hacksmith/src/commands/hello.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/test/hello.test.js
Due: prettier --write, eslint --fix

feat: add futurefunc to log a joke in the plan command
  packages/hacksmith/src/commands/plan.ts
Due: prettier --write, eslint --fix

perf: improve compilation locally
  package.json
  packages/hacksmith/package.json
  packages/hacksmith/src/commands/plan.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: contributor guide
  apps/website/astro.config.mjs
  apps/website/src/content/docs/cli/contribute.mdx
  apps/website/src/content/docs/cli/usage.md
  apps/website/src/content/docs/get-started.md
  apps/website/src/content/docs/get-started/index.md
Due: prettier --write

fix: formatting issues
  apps/website/src/content/docs/cli/contribute.mdx
Due: prettier --write

fix: extra backticks
  apps/website/src/content/docs/cli/contribute.mdx
Due: prettier --write

feat: add add dependencies instructions
  apps/website/src/content/docs/cli/contribute.mdx
Due: prettier --write

docs: update contribution guidelines to include commit message and linting checks
  apps/website/src/content/docs/cli/contribute.mdx
Due: prettier --write

docs: disable table of contents in contributor's guide
  apps/website/src/content/docs/cli/contribute.mdx
Due: prettier --write

chore: fix the build issues - attempt 1
  apps/website/astro.config.mjs
Due: none

feat: plan command now does bluepring and formatting processing
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/blueprint-fetcher.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
  packages/hacksmith/test/fixtures/example.blueprint.toml
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{md,mdx})) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
