Repository saif-shines/hacksmith: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: short hand for executing blueprints
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
Due: prettier --write, eslint --fix

feat: add auto-execute functionality for shorthand commands
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
Due: prettier --write, eslint --fix

chore(release): bump version to v0.0.15
  packages/hacksmith/package.json
Due: prettier --write

feat: enhance GitHub integration with improved API handling and add use cases documentation
  apps/website/src/content/docs/get-started/usecases.mdx
  packages/hacksmith/src/services/blueprint-sources/github-source.ts
  packages/hacksmith/src/utils/github-url-utils.ts
Due: prettier --write, eslint --fix

chore: update dependencies and improve CLI error handling and documentation
  apps/website/src/content/docs/get-started/index.mdx
  packages/hacksmith/package.json
  packages/hacksmith/src/cli/context-factory.ts
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/run.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: update spinner messages for loading blueprints in PlanCommand
  packages/hacksmith/src/commands/plan.ts
Due: prettier --write, eslint --fix

fix: improve blueprint loading messages for better clarity and consistency
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
Due: prettier --write, eslint --fix

chore: add TODO comment to improve user experience in blueprint formatting
  packages/hacksmith/src/utils/blueprint-formatter.ts
Due: prettier --write, eslint --fix

feat: require overview section in blueprints and enhance formatting for clarity
  packages/hacksmith/spec/blueprint-schema.json
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
  packages/hacksmith/src/utils/storage.ts
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

fix: improve error formatting with clickable filenames and fix TypeScript types
  apps/website/src/content/docs/get-started/author-blueprint.mdx
  apps/website/src/content/docs/get-started/blueprint-best-practices.mdx
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/blueprint-service.ts
Due: prettier --write, eslint --fix

feat: improve blueprint display with concise output and helpful warnings
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
Due: prettier --write, eslint --fix

feat: refactor overview display and add boxed card for overview-only blueprints
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/utils/blueprint-formatter.ts
Due: prettier --write, eslint --fix

feat: replace context.error with log.error/warn for improved error handling
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/services/blueprint-service.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/types/blueprint.ts
  packages/hacksmith/src/utils/flow-defaults.ts
  spec/example.blueprint.toml
Due: prettier --write, eslint --fix

fix: remove unused imports and variables in preferences and flow-executor
  packages/hacksmith/src/commands/plan.ts
  packages/hacksmith/src/commands/preferences.ts
  packages/hacksmith/src/services/flow-executor.ts
Due: prettier --write, eslint --fix

feat: implement project-aware session management and data storage
  apps/website/src/content/docs/get-started/index.mdx
  apps/website/src/content/docs/get-started/try-hacksmith.mdx
  apps/website/src/content/docs/handbooks/commands.mdx
  packages/hacksmith/src/cli/command-registry.ts
  packages/hacksmith/src/commands/preferences.ts
  packages/hacksmith/src/commands/recover.ts
  packages/hacksmith/src/commands/session.ts
  packages/hacksmith/src/run.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/utils/migration.ts
  packages/hacksmith/src/utils/project-detector.ts
  packages/hacksmith/src/utils/project-storage.ts
  packages/hacksmith/src/utils/session-manager.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript build errors in session management
  packages/hacksmith/src/commands/recover.ts
  packages/hacksmith/src/utils/migration.ts
Due: prettier --write, eslint --fix

fix: resolve interactive prompt hanging in AI agent selection
  packages/hacksmith/src/commands/preferences.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript build errors in preferences command
  packages/hacksmith/src/commands/preferences.ts
Due: prettier --write, eslint --fix

fix: update blueprint schema to simplify required fields and enhance structure
  packages/hacksmith/spec/blueprint-schema.json
Due: prettier --write

chore(release): bump version to v0.0.16
  packages/hacksmith/package.json
Due: prettier --write

docs: the changes to the markdowns, docs and readme
  README.md
  apps/website/src/content/docs/get-started/blueprint-best-practices.mdx
  apps/website/src/content/docs/get-started/index.mdx
  apps/website/src/content/docs/get-started/schema-and-packs.mdx
  apps/website/src/content/docs/get-started/try-hacksmith.mdx
  apps/website/src/content/docs/get-started/usecases.mdx
  apps/website/src/content/docs/handbooks/commands.mdx
  apps/website/src/content/docs/handbooks/contribute.mdx
  apps/website/src/content/docs/handbooks/installation.md
  packages/hacksmith/README.md
  scripts/install.sh
Due: prettier --write

docs: preparing for release
  LICENSE
  README.md
  package.json
  packages/hacksmith/LICENSE
  packages/hacksmith/README.md
  packages/hacksmith/package.json
Due: prettier --write

ci: fix a nodejs issue that prevents deployement
  .nvmrc
  apps/website/package.json
Due: prettier --write

fix: resolve MDX syntax errors in Steps components
  apps/website/src/content/docs/get-started/try-hacksmith.mdx
  apps/website/src/content/docs/handbooks/contribute.mdx
Due: prettier --write

chore(release): bump version to v0.0.17
  packages/hacksmith/package.json
Due: prettier --write

feat: add description field to package.json for npm search
  packages/hacksmith/package.json
Due: prettier --write

chore: bump version to 0.0.18
  packages/hacksmith/package.json
Due: prettier --write

refactor: replace console.log with @clack/prompts log utilities
  packages/hacksmith/src/cli/context-factory.ts
  packages/hacksmith/src/cli/interactive.ts
  packages/hacksmith/src/run.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/services/step-types/choice-step.ts
  packages/hacksmith/src/services/step-types/confirm-step.ts
  packages/hacksmith/src/services/step-types/input-step.ts
  packages/hacksmith/src/services/step-types/navigate-step.ts
  packages/hacksmith/src/services/step-types/show-commands-step.ts
Due: prettier --write, eslint --fix

chore: fix the eslint errors
  packages/hacksmith/src/cli/components/CommandPalette.tsx
  packages/hacksmith/src/cli/interactive.ts
Due: prettier --write, eslint --fix

chore(release): bump version to v0.0.19
  packages/hacksmith/package.json
Due: prettier --write

chore: test the you.com api and inpsect the structure of the API responses
  package.json
  pnpm-lock.yaml
  test-you-api.js
Due: prettier --write, eslint --fix

feat: integrate You.com API for mission brief enrichment
  packages/hacksmith/src/commands/preferences.ts
  packages/hacksmith/src/services/context-enricher.ts
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/utils/mission-brief-generator.ts
  packages/hacksmith/src/utils/preferences-storage.ts
  packages/hacksmith/src/utils/you-api-client.ts
Due: prettier --write, eslint --fix

feat: uses hacksmith blueprint to add schema and basic details
  spec/you-dot-com.blueprint.toml
  test-enrichment.mjs
  test-enrichment.sh
Due: none

chore: add steps to the bluepring of you dot com
  spec/you-dot-com.blueprint.toml
Due: none

fix: clear enrichment timeout and add clipboard copy for manual mode
  packages/hacksmith/src/services/flow-executor.ts
  packages/hacksmith/src/utils/mission-brief-generator.ts
  spec/you-dot-com.blueprint.toml
Due: prettier --write, eslint --fix

chore: maintian the test you script
  test-you-api.js
Due: prettier --write, eslint --fix

chore(release): bump version to v0.0.20
  packages/hacksmith/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{md,mdx})) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
